button{
    height: 48px;
    border-radius: 8px;
    box-sizing: border-box;
    border: none;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 19.12px;
    transition: 0.3s all ease;
}