.input_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  input {
    box-sizing: border-box;
    border: 2px solid #545f7d26;
    height: 50px;
    border-radius: 5px;
    transition: 0.3s all ease;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;

    &::placeholder{
        font-size: 0.875rem;
        color: #545F7D;
    }

    &:focus,
    &:focus-visible {
      border-color: #39cdcc;
      outline: none;
    }
  }

  .floating_label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 18px;
    transition: 0.3s ease all;
    font-size: 0.875rem;
    font-weight: 400;
    color: #545F7D;
  }

  input:focus ~ .floating_label,
  input:not(:focus):valid ~ .floating_label {
    top: -0.45rem;
    bottom: 10px;
    left: 12px;
    font-size: 11px;
    opacity: 1;
    background-color: #ffffff;
    padding: 0.1525rem 0.25rem;
    height: fit-content;
    font-weight: 500;
  }

  input:focus ~ .floating_label{
    color: #39cdcc;
  }
}
