.input_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;

  &.w_full {
    width: 100%;
  }

  .icon{
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 1rem;
    margin-top: -10px;
    height: 20px;
  }

  input {
    box-sizing: border-box;
    border: 2px solid #545f7d26;
    height: 50px;
    border-radius: 5px;
    transition: 0.3s all ease;
    padding: 0.75rem 1rem;
    font-size: 0.875rem;

    &.md {
      height: 40px;
      border: 1px solid #545f7d26;
      border-radius: 8px;
    }

    &::placeholder {
      font-size: 0.875rem;
      color: #545f7d;
      opacity: 0.7;
    }

    &:focus,
    &:focus-visible {
      border-color: #39cdcc;
      outline: none;
    }
  }

  .floating_label {
    position: absolute;
    pointer-events: none;
    left: 1rem;
    top: 18px;
    transition: 0.3s ease all;
    font-size: 0.875rem;
    font-weight: 400;
    opacity: 0.6;
    color: $secondary-color;
  }

  .md ~ .floating_label {
    top: 12px;
  }

  input:focus ~ .floating_label,
  input:not(:focus):valid ~ .floating_label {
    top: -0.45rem;
    bottom: 10px;
    left: 12px;
    font-size: 11px;
    font-weight: 500;
    opacity: 0.8;
    background-color: #ffffff;
    padding: 0.1525rem 0.25rem;
    height: fit-content;
  }

  input:focus ~ .floating_label {
    color: $primary-color;
  }
}
