._nav {
  z-index: 50;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px 0px #0000000a;
  position: absolute;
  transition: 0.3s all ease;
  padding: 2.5rem 0;
  overflow-y: auto;
  width: 80%;
  left: -1000px;
  max-height: calc(100vh - 64px);
  overflow-y: hidden;
  

  &.show {
    // background-color: brown;
    left: 0;
  }

  @include media("tablet") {
    width: $drawer-width !important;
    max-height: calc(100vh - 100px);
  }

  @include media("desktop") {
    position: fixed;
    width: $drawer-width !important;
    left: unset;
  }

  .nav_list_wrapper {
    overflow-y: auto;
    height: calc(100vh - 64px - 50px);

    @include media("desktop") {
      height: calc(100vh - 100px - 100px);
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .parent_list_group {
    .p_list {
      padding: 0 30px;
      line-height: 14.08px;
      font-weight: 500;
      font-size: 0.75rem;
      color: $secondary-color;
      text-transform: uppercase;
      color: $secondary-color;
      margin-bottom: 0.625rem;
    }

    .child_list_group {
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      width: 100%;

      .c_list .link {
        transition: 0.3s all ease;
        display: inline-flex;
        align-items: center;
        gap: 0.625rem;
        width: 100%;
        height: 40px;
        border-width: 0px 0px 0px 3px;
        border-style: solid;
        border-color: transparent;
        text-decoration: none;
        padding: 0 30px;
        box-sizing: border-box;
        color: $secondary-color;
        line-height: 18.77px;
        font-weight: 400;
        font-size: 1rem;
        opacity: 0.6;
      }

      .active,
      .c_list .link:hover {
        opacity: 1 !important;
        border-color: $primary-color !important;
        background-color: #f3fcfc !important;
      }
    }
  }

  .switch {
    display: inline-flex;
    align-items: center;
    gap: 0.625rem;
    padding: 10px 30px;
    text-decoration: none;
    margin-bottom: 2.5rem;
    color: $secondary-color;
  }

  .footer_list {
    hr {
      width: 100%;
      background-color: #213f7d;
      opacity: 0.1;
      margin: 0.625rem 0;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    .switch {
      margin-bottom:  1.875rem;
    }

    .version {
      padding-left: 30px;
      font-size: 0.75rem;
      font-weight: 400;
      color: $secondary-color;
      line-height: 14.08px;
    }
  }
}
